
*.pyc

PRACTICUM/LAB_01/.idea/inspectionProfiles/profiles_settings.xml

PRACTICUM/LAB_01/.idea/LAB_01.iml

PRACTICUM/LAB_01/.idea/misc.xml

PRACTICUM/LAB_01/.idea/modules.xml

PRACTICUM/LAB_01/.idea/other.xml

PRACTICUM/LAB_01/.idea/vcs.xml

PRACTICUM/LAB_01/.ipynb_checkpoints/distances_check-checkpoint.ipynb

PRACTICUM/LAB_01/.ipynb_checkpoints/experiments-checkpoint.ipynb

PRACTICUM/LAB_01/.ipynb_checkpoints/

PRACTICUM/LAB_01/report/cheat_sheet.aux

PRACTICUM/LAB_01/report/cheat_sheet.lof

PRACTICUM/LAB_01/report/cheat_sheet.log

PRACTICUM/LAB_01/report/cheat_sheet.lot

PRACTICUM/LAB_01/report/cheat_sheet.out

PRACTICUM/LAB_01/report/report.aux

PRACTICUM/LAB_01/report/report.log

PRACTICUM/LAB_01/report/report.out

PRACTICUM/LAB_01/report/report.synctex.gz

PRACTICUM/LAB_01/report/report.toc

PRACTICUM/LAB_01/report/cheat_sheet.synctex.gz
