
*.pyc

PRACTICUM/LAB_01/.idea/inspectionProfiles/profiles_settings.xml

PRACTICUM/LAB_01/.idea/LAB_01.iml

PRACTICUM/LAB_01/.idea/misc.xml

PRACTICUM/LAB_01/.idea/modules.xml

PRACTICUM/LAB_01/.idea/other.xml

PRACTICUM/LAB_01/.idea/vcs.xml

PRACTICUM/LAB_01/.ipynb_checkpoints/distances_check-checkpoint.ipynb

PRACTICUM/LAB_01/.ipynb_checkpoints/experiments-checkpoint.ipynb

PRACTICUM/LAB_01/.ipynb_checkpoints/

PRACTICUM/LAB_01/report/cheat_sheet.aux

PRACTICUM/LAB_01/report/cheat_sheet.lof

PRACTICUM/LAB_01/report/cheat_sheet.log

PRACTICUM/LAB_01/report/cheat_sheet.lot

PRACTICUM/LAB_01/report/cheat_sheet.out

PRACTICUM/LAB_01/report/report.aux

PRACTICUM/LAB_01/report/report.log

PRACTICUM/LAB_01/report/report.out

PRACTICUM/LAB_01/report/report.synctex.gz

PRACTICUM/LAB_01/report/report.toc

PRACTICUM/LAB_01/report/cheat_sheet.synctex.gz

PRACTICUM/LAB_06/report/report.aux

PRACTICUM/LAB_06/report/report.log

PRACTICUM/LAB_06/report/report.out

PRACTICUM/LAB_06/report/report.synctex.gz

PRACTICUM/LAB_06/report/report.tex

PRACTICUM/LAB_06/report/report.toc

MMRO/HW_04/data_logistic/

MMRO/HW_04/data_vw/

MMRO/HW_04/avazu-ctr-prediction.zip

MMRO/HW_04/--passes

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/MMP_3course.iml

.idea/modules.xml

.idea/vcs.xml

MMRO/HW_01/.ipynb_checkpoints/homework-practice-01-checkpoint.ipynb

MMRO/HW_02/.ipynb_checkpoints/hw-practise-2-kuzmin-nikita-checkpoint.ipynb

MMRO/HW_02/.ipynb_checkpoints/hw-practise-2-kuzmin-nikita-Copy1-checkpoint.ipynb

MMRO/HW_02/.ipynb_checkpoints/trashipynb-checkpoint

MMRO/HW_02/.ipynb_checkpoints/Untitled-checkpoint.ipynb

MMRO/HW_02/hw-practise-2-kuzmin-nikita-Copy1.ipynb

MMRO/HW_02/ipython_log.py

MMRO/HW_02/overlap_cython.c

MMRO/HW_02/overlap_cython.cpython-37m-x86_64-linux-gnu.so

MMRO/HW_02/overlap_cython.pyx

MMRO/HW_02/trashipynb

MMRO/HW_02/Untitled.ipynb

MMRO/HW_04/.ipynb_checkpoints/homework-practice-04-KuzminNikita-checkpoint.ipynb

MMRO/HW_04/.ipynb_checkpoints/homework-practuce-04-KuzminNikita-checkpoint.ipynb

MMRO/HW_04/homework-practuce-04-KuzminNikita.ipynb

MMRO/HW_05/.ipynb_checkpoints/homework-practice-04-KuzminNikita-checkpoint.ipynb

MMRO/HW_05/.ipynb_checkpoints/homework-practice-04-KuzminNikita-Copy1-checkpoint.ipynb

MMRO/HW_05/catboost_info/catboost_training.json

MMRO/HW_05/catboost_info/learn_error.tsv

MMRO/HW_05/catboost_info/learn/events.out.tfevents

MMRO/HW_05/catboost_info/time_left.tsv

MMRO/HW_05/catboost_logger_on_gpu.pkl

MMRO/HW_05/catboost_logger.pkl

MMRO/HW_05/data/application_test.csv

MMRO/HW_05/data/application_train.csv

MMRO/HW_05/homework-practice-04-KuzminNikita-Copy1.ipynb

MMRO/HW_05/lgbm_logger.pkl

MMRO/HW_THEORY_1/hw-theory-1-kuzmin-nikita.aux

MMRO/HW_THEORY_1/hw-theory-1-kuzmin-nikita.log

MMRO/HW_THEORY_1/hw-theory-1-kuzmin-nikita.out

MMRO/HW_THEORY_1/hw-theory-1-kuzmin-nikita.synctex.gz

PRACTICUM/HW_05/.ipynb_checkpoints/testing-checkpoint.ipynb

PRACTICUM/LAB_04/.idea/inspectionProfiles/profiles_settings.xml

PRACTICUM/LAB_04/.idea/LAB_01.iml

PRACTICUM/LAB_04/.idea/misc.xml

PRACTICUM/LAB_04/.idea/modules.xml

PRACTICUM/LAB_04/.idea/other.xml

PRACTICUM/LAB_04/.idea/vcs.xml

PRACTICUM/LAB_04/.ipynb_checkpoints/distances_check-checkpoint.ipynb

PRACTICUM/LAB_04/.ipynb_checkpoints/experiments-checkpoint.ipynb

PRACTICUM/LAB_04/experiment1_results.csv

PRACTICUM/LAB_04/experiment2_results

PRACTICUM/LAB_04/experiment2_results.csv

PRACTICUM/LAB_04/experiment3_results.csv

PRACTICUM/LAB_04/report/cheat_sheet.aux

PRACTICUM/LAB_04/report/cheat_sheet.lof

PRACTICUM/LAB_04/report/cheat_sheet.log

PRACTICUM/LAB_04/report/cheat_sheet.lot

PRACTICUM/LAB_04/report/cheat_sheet.out

PRACTICUM/LAB_04/report/cheat_sheet.synctex.gz

PRACTICUM/LAB_04/report/cheat_sheet.zip

PRACTICUM/LAB_04/report/report.aux

PRACTICUM/LAB_04/report/report.log

PRACTICUM/LAB_04/report/report.out

PRACTICUM/LAB_04/report/report.synctex.gz

PRACTICUM/LAB_04/report/report.tex

PRACTICUM/LAB_04/report/report.toc

PRACTICUM/LAB_04/Unit-tests/info_about_unit_testing

PRACTICUM/LAB_06/.ipynb_checkpoints/apply_best_algorithms_for_test-checkpoint.ipynb

PRACTICUM/LAB_06/.ipynb_checkpoints/Experiments-checkpoint.ipynb

PRACTICUM/LAB_06/.ipynb_checkpoints/plots_generating-checkpoint.ipynb

PRACTICUM/LAB_06/.ipynb_checkpoints/tests-checkpoint.ipynb

PRACTICUM/LAB_06/data_toxic/toxic_test.csv

PRACTICUM/LAB_06/data_toxic/toxic_train.csv

PRACTICUM/LAB_06/GD_SGD_bow_tfid_max_df_without_stopwords.pkl

PRACTICUM/LAB_06/GD_SGD_bow_tfid_min_df_without_stopwords.pkl

PRACTICUM/LAB_06/GD_SGD_bow_tfid_min_df.pkl

PRACTICUM/LAB_06/GD_SGD_lemmatized_stopwords.pkl

PRACTICUM/LAB_06/GD_SGD_step_alpha_beta_batch_size.pkl

PRACTICUM/LAB_06/GD_SGD_w_0_init.pkl

PRACTICUM/LAB_06/ngrams_gd_sgd.pkl

PRACTICUM/LAB_06/svm_894_model

PRACTICUM/LAB_07/data/data.csv

PRACTICUM/LAB_07/data/target.csv
